.careers{height: 100vh;background-color: var(--main-color);display: flex;justify-content: space-between;align-items: center;padding:0 var(--indents);}
.careers__image{width:40%}
.careers__content{width: 60%;color: var(--black-main-color);}
.careers__title{font-size:clamp(2.5rem, 1.1rem + 4.2vw, 6rem); line-height:90%;font-weight:500;letter-spacing:-.3rem;}
.careers__text{font-size: var(--font-small_title-size); width: calc((1vh + 1vw)*20);padding:2vh 0 4vh;}
.careers__cta{font-size:var(--font-small_title-size);font-weight:500;display: flex;align-items: center;font-family: var(--Inter);}
.notify__button{display: flex; align-items: center;}
.careers__cta path{fill: var(--black-main-color);}
@media screen and (max-width: 768px) {
    .careers{flex-direction: column;height: auto;}
    .careers__image{width:80%;}
    .careers__text{text-align: center;width:350px;}
    .careers__content{display: flex;flex-direction: column;align-items: center;padding:calc(10vh + 60px) 0 10vh;width:100%;}
}
@media screen and (max-width: 425px) {
    .careers__text{width:250px;}
}