.about-page {
    height: 100vh;
    color: var(--black-main-color);
    background-color: var(--main-color);
}

.about-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10vh;
}

.about-page__title {
    font-size:clamp(2.75rem, calc((1vw + 1vh) * 3.2), 6rem);
    text-transform: capitalize;
    line-height:90%;
    font-weight:500;
    text-align: center;
    width:clamp(300px, calc((1vw + 1vh) * 25), 730px);
}

.about-page__layout {
    display: flex;
    align-items: center;
    gap:10vh;
}

.about-page__nav {
    height: auto;
}
.about-page__nav-list{
    gap:10px;
    display: flex;
    flex-direction: column;
}
.about-page__nav-list a{
    font-size: var(--font-button-size);
    padding: 11px 84px;
    color:unset;
}
.about-page__nav-list li{
    border:1px solid var(--black-main-color);
    color: var(--black-main-color);
    transition:.2s;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.about-page__nav-list li:hover{
    background-color: var(--black-main-color);
    color: var(--white);
}
.about-page__content {
}

.about-page__subtitle {
}

.about-page__text {
    font-size: var(--font-paragraph-size);
    line-height:90%;
    width:23.75rem;
}


@media screen and (max-width: 48rem){ 
    .about-page__layout{flex-direction: column;}
    .about-page__text{text-align: center;}
    .about-page__nav {order: 2}
    .about-page{height:auto;padding:calc(10vh + 60px) 0 10vh}

}
@media screen and (max-width: 26rem){ 
    .about-page__text{width:calc(100% - var(--indents) * 2);}
}