@media screen and (max-width: 768px) {
    .hero__tagline , .hero__divider{display: none;}
    .hero__button{
        position: absolute;
        bottom: calc(var(--indents)*2.5);
        left: var(--indents);
        font-weight:700;
    }
    .hero__info{flex-direction: column;gap:12vh;}
    .hero-indent{width:100%;}
    .hero__title{text-align: start; font-size:60px;}
    .hero__description{width: 280px;font-size: 24px;float: right;text-align: end;opacity:.5;}
    .cup-canvas{display: none;}
    .hero__content{
        padding: 25vh var(--indents);
    }
    .parallax_component > .parallax_image-col:nth-child(2) img,
    .parallax_component > .parallax_image-col:nth-child(4) img {transform: none !important;}

    .about__title{text-indent:0;margin-top:2vh;}
    .about__text{width: 70%;}
    .about__button{margin-top: 4vh;font-weight: 600;font-family: var(--Inter);}
    :root{--step: 75px;}
    .home-shop__item:nth-child(2),.home-shop__item:nth-child(3){display: none;}

    .home-shop__image{
        width: 90vw;
        height:45vw;
    }
    .home-shop__image img{
        width: 45vw;
        margin:0 22.5vw;
        height: 45vw;
    }
    .home-shop__content{max-width: 90vw}
    .home-shop__title{max-width:50vw;}
    .about{margin-top: 40vh;padding-bottom:150px;}
    .item-count--num{padding:4px 8px}
    .home-shop__nav-btn:hover{transform: none}
    .drinks-transition{height: 50vh;}
    .home-shop__nav{position: static;transform: none}
    .home-shop{transform: none!important;}
    .header--desktop{display: none;}
    .header--mobile{display: flex;}

}
@media screen and (max-width: 425px){ 
    :root{--step: 40px;}
    .parallax_component,.drinks-transition {grid-template-columns: repeat(4, 1fr);}
    .drinks__bg,.drinks-transition {background: repeating-linear-gradient(to right, var(--polosa-color) 0 1px, transparent 1px calc(100% / 4));}
    .drinks-transition__column:nth-child(5),.drinks-transition__column:nth-child(6),.parallax_image-col:nth-child(5),.parallax_image-col:nth-child(6){display: none;}
    .drinks-transition{height:300px;}
    .about {margin-top:150px;padding-bottom:100px;}
    .home-shop__item-count--block{display: none;}
    .home-shop__divider > div:nth-child(2) { order: 2; gap: 20px;}
}
@media screen and (max-width: 75rem){ 
    .footer{font-size: .75rem;border-bottom:1px solid #E7E8E6}
    .footer__right-wrapper{max-width:15rem;}
    .footer-spacer{display: none;}
}
@media screen and (max-width: 48rem){ 
    .footer{font-size: .625rem;flex-direction: column;padding: 4vh var(--indents);}
    .footer > div:nth-child(1) { order: 1;}
    .footer__right-wrapper{max-width:15rem;}
    .footer__left > :nth-child(1){ order: 1;}
    .footer__right{margin:0;padding-bottom: 4vh;border-bottom:1px solid #E7E8E6}
    .footer__left{width: auto;display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: repeat(2, 1fr);gap:20px;padding-top:4vh;}
    /* .footer-spacer{padding-top:4vh;height:50%;} */
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .hero__title{font-size:clamp(32px, 3.6vw, 52px);}
}
