@media screen and (max-width: 768px) {
    .hero__tagline , .hero__divider{display: none;}
    .hero__button{
        position: absolute;
        bottom: clamp(98px, 16.2vw, 126px);
        left: 50%;
        transform: translateX(-50%)!important;
    }
    .hero__info{display: block;}
    .hero-indent{width:100%;}
    .hero__title{text-align: start;}
    .hero__description{width: 60%;}
    .hero__content{
        display: block;
        padding:clamp(120px, 20vw, 160px) var(--indents);
    }
    .parallax_component > .parallax_image-col:nth-child(2) img,
    .parallax_component > .parallax_image-col:nth-child(4) img {transform: none !important;}

    .about__title{text-indent:0;margin-top:2vh;}
    .about__text{width: 70%;}
    .about__button{margin-top: 4vh;font-weight: 600;font-family: var(--Inter);}
    :root{--step: 75px;}
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .hero__title{font-size:clamp(32px, 3.6vw, 52px);}
}
