@media screen and (max-width: 768px) {
    .hero__tagline , .hero__divider{display: none;}
    .hero__button{
        position: absolute;
        bottom: clamp(98px, 16.2vw, 126px);
        left: 50%;
        transform: translateX(-50%)!important;
    }
    .hero__info{display: block;}
    .hero-indent{width:100%;}
    .hero__title{text-align: start;}
    .hero__description{width: 60%;}
    .hero__content{
        display: block;
        padding:clamp(120px, 20vw, 160px) var(--indents);
    }
    .parallax_component > .parallax_image-col:nth-child(2) img,
    .parallax_component > .parallax_image-col:nth-child(4) img {transform: none !important;}

    .about__title{text-indent:0;margin-top:2vh;}
    .about__text{width: 70%;}
    .about__button{margin-top: 4vh;font-weight: 600;font-family: var(--Inter);}
    :root{--step: 75px;}
    .home-shop__item:nth-child(2),.home-shop__item:nth-child(3){display: none;}

    .home-shop__image{
        width: 90vw;
        height:45vw;
    }
    .home-shop__image img{
        width: 45vw;
        margin:0 22.5vw;
        height: 45vw;
    }
    .home-shop__content{max-width: 90vw}
    .home-shop__title{max-width:50vw;}
    .about{margin-top: 50vh;}
    .item-count--num{padding:4px 8px}
    .home-shop__nav-btn:hover{transform: none}
    .drinks-transition{height: 50vh;}
    .home-shop__nav{position: static;transform: none}

}
@media screen and (max-width: 425px){ 
    :root{--step: 65px;}
    .parallax_component,.drinks-transition {grid-template-columns: repeat(4, 1fr);}
    .drinks__bg,.drinks-transition {background: repeating-linear-gradient(to right, var(--polosa-color) 0 1px, transparent 1px calc(100% / 4));}
    .drinks-transition__column:nth-child(5),.drinks-transition__column:nth-child(6),.parallax_image-col:nth-child(5),.parallax_image-col:nth-child(6){display: none;}
    .drinks-transition{height:300px;}
    .about {margin-top:300px;padding-bottom:300px;height: auto;}
    .home-shop__item-count--block{display: none;}
    .home-shop__divider > div:nth-child(2) { order: 2; gap: 20px;}
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .hero__title{font-size:clamp(32px, 3.6vw, 52px);}
}
