:root{
    --font-paragraph-size: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
    --font-button-size: clamp(0.75rem, 0.6rem + 0.6vw, 0.875rem);
    --font-small_title-size:clamp(0.875rem, 0.6rem + 1.5vw, 1.375rem);
    --font-large_text-size:clamp(22px, 2.2vw, 42px);
    --font-big_text-size:clamp(2rem, 1rem + 6vw, 4.8rem);

    --cup-size:100;
    --cup-size-block: calc((var(--cup-size) * 1vw) * .2);

    --white:#fff;
    --main-color:#F3F4F2;
    --green-color:#345D31;
    --lite-green-color:#E8EFE4;
    --black-main-color:#191919;
    --polosa-color:#707170;

    --indents:clamp(16px, 2.08vw, 40px);
    --step: 25vh;

    --Inter:"Inter", sans-serif;
    --NB-International-Pro:"NB-International-Pro", sans-serif;
}
::selection {
  background: #F3C054;
  color: #345D31; 
}

::-moz-selection {
  background: #F3C054;
  color: #345D31;
}
body {
  font-family: var(--NB-International-Pro);
  font-weight: 500;
  background-color: var(--main-color);
  /* height: 1000vh; */
}
html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-smooth iframe {
    pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}li{list-style: none;}

html {
    height: auto !important;
}

/*ADD--------------------------------------*/
.StartAnimation .word{
  --p: 0%;
  background: linear-gradient(to bottom, transparent var(--p), currentColor var(--p));
  display: inline;
  will-change: --p;
}
.vlock{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--main-color);
    will-change: transform;
    z-index:50;
}


/*HEADER--------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.header--desktop{
    height:100px;
}
.header--desktop .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--indents) * 2);
}
.header--desktop .header__logo{
    width: clamp(65px, 5.2vw, 100px);
}
.header--desktop .header__actions{
    display: flex;
    align-items: center;
    gap:.5vw;
    position: relative;
}
.header--desktop .header__button{
    width: 110px;
    height: 40px;
    background-color: var(--black-main-color);
    font-size: var(--font-button-size);
    color: var(--main-color);
    border: none;
    font-family: var(--Inter);
    font-weight: 500;
    transition: .2s;
}
.header--desktop .header__button:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--black-main-color);
    border: 1px solid var(--black-main-color);
}
.header__burger--desktop{
    width: 40px;
    height: 40px;
    background-color: var(--black-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-direction: column;
    z-index: 3;
    border: none;
    will-change:transform;
}
.header__burger--desktop .header__burger__polosa{
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
    will-change:transform;
}
.header__burger--desktop-helper{
    width: 40px;
    height: 40px;
    background-color: var(--black-main-color);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

}



/*HERO--------------------------------------*/
.cup-canvas{
    width:100%;
    height: auto;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(0);
}
.hero__content{
   transform: translateY(-2%);
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.hero__info{
    display: flex;
    align-items: end;
    justify-content:space-around;
}
.hero-indent{
    width:calc(((100vw - var(--cup-size-block)) / 2) - var(--indents));
}
.hero__divider{
    width: var(--cup-size-block);
    height: var(--cup-size-block);
}
.hero__title {
    text-align: right;
    font-size: clamp(2rem, 1rem + 5vw, 4.125rem);
    line-height:90%;
    letter-spacing:-.03rem;
    font-weight: 500;
    color: var(--black-main-color);
}
.hero__description{
    font-size: var(--font-paragraph-size);
    width: clamp(280px, 22.2vw, 430px);
    margin-bottom:2vw;
    color: var(--black-main-color);
}
.hero__tagline{
    margin-top: 2vw;
    font-size: var(--font-large_text-size);
    line-height:90%;
    font-weight: 500;
    color: var(--green-color);
}
.hero__button{
    width:190px;
    height:60px;
    background-color: var(--lite-green-color);
    font-size: var(--font-button-size);
    color: var(--black-main-color);
    border-radius: 8px;
    border: none;
    font-family: var(--Inter);
    font-weight: 600;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero__button svg{
    transition: .2s;
    transform: translateY(2px);
}
.hero__button:hover {
    cursor: pointer;
    background-color: var(--green-color);
    color: var(--main-color);
    transform: scale(1.025);
}

canvas {
  z-index: -2;
}


/*DRINKS--------------------------------------*/
.drinks{
    position: relative;
    height: 350vh;
}
.drinks__bg-stripes {
  position: absolute;
  inset: 0;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to top, rgba(243,244,242,0) 0%, #F3F4F2 100%);
  background-size: 100% 50vh;
  background-repeat: no-repeat;
} 

.drinks__bg {
  position: absolute;
  inset: 0;
  top: 0;
  height: 100%;
  pointer-events: none;

  background: repeating-linear-gradient(
    to right,
    var(--polosa-color) 0 1px,
    transparent 1px calc(100% / 6)
  );
  z-index: -1;
}

.drinks__content{
    height:100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.drinks__content-wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    mix-blend-mode: difference;
    will-change: transform;
}
.drinks__text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    
}
.drinks__hot-cold--text{
    position: absolute;
}
.drinks__title{
    font-size: var(--font-big_text-size);
    padding-bottom:2vh;
    color:var(--main-color);
    font-weight: 500;
    width: 75%;
    line-height: 90%;
}
.drinks__text-anim span{
    clip-path: polygon(0 0%, 100% 0%, 100% 97%, 0% 97%);
    position: relative;
    display: inline-block;
}
.drinks__hot-cold--text span{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.drinks__description{
    max-width: clamp(280px, 20.8vw, 400px);
    font-size: var(--font-paragraph-size);
    color:var(--main-color);
    font-weight: 300;
}
.parallax_component{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 250vh;
    position: relative;

    justify-items: center;
    align-items: center; 
}
.parallax_image-col {
    height: 200vh;
    width:80%;
    margin-top: 100vh;
    overflow: hidden;
}
.parallax_image-col img{
    width: 100%;
    height: auto;
    will-change: transform;
}
.parallax_component > .parallax_image-col:nth-child(4) {
     padding-top:65vh;
}
.parallax_component > .parallax_image-col:nth-child(1) {
     padding-top: 85vh;
}
.parallax_component > .parallax_image-col:nth-child(3) {
     padding-top: 135vh;
}
.parallax_component > .parallax_image-col:nth-child(5) {
     padding-top: 115vh ;
}

.drinks-transition{
    bottom: -100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: center; 
    background: repeating-linear-gradient(
    to right,
    var(--polosa-color) 0 1px,
    transparent 1px calc(100% / 6)
  );
}
.drinks-transition__column{
    background-color: var(--lite-green-color);
    width: 100%;
    height: 100%;
     will-change: transform;
}
.drinks-transition__column:nth-child(2) { transform: translateY(calc(var(--step) * 3))}
.drinks-transition__column:nth-child(3) { transform: translateY(calc(var(--step) * 2))}
.drinks-transition__column:nth-child(4) { transform: translateY(calc(var(--step) * 1))}
.drinks-transition__column:nth-child(5) { transform: translateY(calc(var(--step) * 4))}
.drinks-transition__column:nth-child(6) { transform: translateY(calc(var(--step) * 3.5))}




/*ABOUT ----------------------------*/
.about{
    height: 100vh;
    position: relative;
    background-color:var(--lite-green-color);
    margin-top: 75vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.about__block{
    width: 80%;
    color: var(--green-color);
}
.about__label{
    font-size:var(--font-small_title-size);
    font-family: var(--Inter);
    font-weight: 600;
}
.about__title{
    font-size: var(--font-large_text-size);
    font-weight: 500;
    line-height:95%;
    letter-spacing:-.03rem;
    text-indent: 25%;
    margin-bottom:4vh;
}
.about__title .word{
        opacity: .2;
}
.about__text{
    font-size: var(--font-paragraph-size);
    width:50%;
    float: right;
    opacity: .4;
}
.bt-style{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    text-align: start;
    cursor: pointer;  
    transition: .2s; 
}
.bt-style:hover{
    transform: scale(.95);
}
.about__button {
    font-size: var(--font-small_title-size);
    color: var(--green-color);
    width:clamp(12.5rem, 8.03rem + 19.08vw, 17.1875rem);
}
.bt-style svg{
    margin-left: .75vw;
    height: 100%;
}





/*HOME-SHOP---------------------------------*/
.home-shop{
    position: relative;
    background-color: var(--green-color);
    padding:4vh 0;
    will-change: transform;
}
.home-shop__list{
    display: flex;
    justify-content: space-evenly;
}
.home-shop__item{}
.home-shop__image{
    height: 25vw;
    width: 25vw;
    background-color:var(--lite-green-color);
    overflow: hidden;
}
.home-shop__image-items{
    display: flex;
    transform: translateX(0vw);
}
.home-shop__image img{
    width: 25vw;
    height: 25vw;
}
.home-shop__content{color:var(--white);margin-top:1.5vh;max-width: 25vw;}
.home-shop__header{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.home-shop__title{
    font-size:var(--font-small_title-size);
    font-style:italic;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 12.5vw;
    white-space: nowrap;
    
}
.home-shop__price{
    font-size: var(--font-paragraph-size);
    white-space: nowrap;
}
.home-shop__description{
    font-size: var(--font-paragraph-size);
    opacity: .5;
    font-weight: 300;
    margin-top:1vh;
    width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
      line-height: 1.4;
  min-height: calc(1.4em * 2);
}

.home-shop__divider{
    display: flex;
    margin:4vh var(--indents) 0;
    justify-content: space-between;
    align-items: center;
}
.home-shop__nav{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.home-shop__nav-btn{
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
    padding:1vw;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
.home-shop__nav-btn:active {
  background-color: transparent;
}
.home-shop__nav-btn:hover{
    transform: scale(.95);
}
.home-shop__item-count--block{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: var(--font-paragraph-size);
}
.item-count--num{
    border: 1px solid var(--white);
    padding: .5vw;
    margin:0 1vw;
}
.home-shop--button{
    background-color: var(--white);
    color: var(--black-main-color);
    border: 1px solid var(--green-color);
    padding:clamp(0.5rem, 0.2rem + 2.2vw, 1.5625rem) clamp(1.25rem, -1.5rem + 8vw, 5.625rem);
    font-size: var(--font-button-size);
    font-family: var(--Inter);
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
}
.home-shop--button:hover{
    background-color: var(--green-color);
    color: var(--white);
    border: 1px solid var(--white);
}


/*footer---------------------------------*/
.footer {
    background-color: var(--main-color);
    display: flex;
    padding:50px;
    color: var(--black-main-color);
    font-size: 1rem;
}
.footer a{
    color: var(--black-main-color);
    font-family:var(--Inter);
    font-weight: 500;
    line-height: 140%;
}
.footer__left {    
    display: flex;
    width:50%;
    justify-content: space-around;
}
.footer__right {
    margin:0 auto;
}
.footer__right-wrapper{
    width: 21.875rem;
}

.footer__copyright{
    font-weight:600;
    font-family: var(--Inter);
}

.footer__logo {width: clamp(65px, 5.2vw, 100px);}
.footer__note {opacity:.35;}
.footer-spacer {
    height: max(
        0px,
        calc(90vh - 75svh)
    );
    
}